/* 웹 폰트를 쓰면 렉걸릴 수도 있다 주의 */
/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.container {
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;

  height: 100vh;

}

/* 메뉴 부분 */
header {
  border: 2px solid gray;

  position: fixed;
  right: -500px;
  top: 20px;

  width: 400px;
  height: 100px;
}


header nav ul {
  /* 가로배치 2 */
  display: flex;
  position: absolute;
  right: 0;
}

header>nav>ul>li {
  /* 가로배치 1*/
  display: flex;
}

header>nav>ul>li>.link {
  border: 1px solid black;
  border-radius: 100%;

  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  /* 글자 중앙 배치 */

  margin-left: 10px;
}

header>nav>ul>li>.link:hover {
  background-color: azure;
}

/* 메인 부분 */
.main {
  /* border: 2px solid red; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  /* overflow-x: auto;
  overflow-y: auto; */
}

.slides {
  /* background-color: red; */
  display: flex;
  width: 100%;
  height: 80%;

}

#home,
#about,
#experience,
#blackHole,
#contact {
  /* border: 1px solid blue; */
  min-width: 100vw;
  height: 100%;
}

#home {
  background-color: rgb(255, 253, 228);
  width: 100%;
  height: 100%;

  /* display: flex;
  flex-direction: column;

  justify-content: center; */
}
#home_container{
  border: 1px solid black;
}
#home .home_header {
  border-bottom: 1px solid gray;
  width: 100%;
  height: 100px;
}

#home .home_footer {
  border-top: 1px solid gray;
}

#home section {
  /* border: 1px solid red; */
  display: flex;
}

#home nav {
  border-right: 1px solid black;
}

#home aside {
  border-left: 1px solid black;
}

#home nav,
aside {
  flex-basis: 150px;
  flex-shrink: 0;
}


#about {
  background-color: lightsalmon;
}

#experience {
  background-color: lightyellow;
}

#contact {
  background-color: lightgreen;
}

#blackHole {
  background-color: lightblue;
}

#floor {
  background-color: rgb(222, 255, 244);

  box-sizing: border-box;
  width: 100%;
  height: 20%;

  color: white;
}

/* 푸터 부분 */
footer {
  background-color: rgba(144, 238, 144, 0.212);
}

/* css */
.css {
  background-color: rgb(254, 255, 211);
  height: 80%;
}