.container {
  border: 1px solid royalblue;
  box-sizing: border-box;

  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* 화면이 넘어가는 부분 숨기기? */

  flex-direction: column;
}

header {
  background-color: rgb(252, 255, 228);

  width: 80%;
  height: 20%;
  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  /* flex-direction: column; 세로정렬*/

  justify-content: flex-end;
  /* 오른쪽 붙이기 */

}

header>nav>ul>li {}

header>nav>ul>li>.link {
  border: 1px solid black;
  border-radius: 100%;
  text-align: center;

  width: 60px;
  height: 60px;
  line-height: 60px;

  display: inline-block;
  /* 인라인인데 블록처럼 적용해야 스타일 들어간다*/

  margin-right: 20px;
}

/* slide 부분 */
main {
  background-color: aliceblue;
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: column;
}

.slide {
  border: 1px solid red;
}

footer {
  background-color: yellowgreen;
  height: 20%;
}