/* 웹 폰트를 쓰면 렉걸릴 수도 있다 주의 */
/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.container {
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;

  height: 100vh;

}

.container {}

/* 메뉴 부분 */
header {
  /* border: 1px solid red;
  position: fixed; */
}

header nav ul {}

header>nav>ul>li {}

header>nav>ul>li>.link {}

/* 메인 부분 */
.main {
  border: 2px solid red;
  box-sizing: border-box;
  width: 100%;
  height: 80%;

  overflow-x: auto;
  overflow-y: auto;
}

.slides {
  /* background-color: red; */

  display: flex;
  width: 100%;
  height: 100%;

}

#home,
#about,
#experience,
#blackHole,
#contact {
  border: 1px solid blue;
  min-width: 100vw;
}

#home {
  background-color: rgb(255, 181, 181);
  width: 100%;
  height: 100%;
}

#about {
  background-color: lightsalmon;
}

#experience {
  background-color: lightyellow;

}

#contact {
  background-color: lightgreen;

}

#blackHole {
  background-color: lightblue;

}

/* 푸터 부분 */
footer {
  background-color: yellowgreen;
  height: 20%;
}

/* css */
.css {
  border: 4px solid black
}

.css .life {
  border: 1px solid red;
}

.css .px_font {
  font-size: 16px;
}

.css .rem_font {
  font-size: 1rem;
}

.css h2{
  font-size: 2rem;
  color: yellow;
}

.css p {
  background-color: aliceblue;
  font-size: 4rem;
  font-weight: bold;
  /* line-height: 4rem; */
}





